body {

  background-image: url(madera.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
}


header {
    background-color: #eaeaea;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  .encabezado {
    background-color: yellow;
    padding: 20px;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .center li {
    margin: 0 10px;
  }
  
  .center li a {
    color: white;
    text-decoration: none;
  }
  .container {
    width: 500px; 
    background-color: black;
    color: white;
    position: absolute;
    padding: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
h1{
  margin-bottom: 10px;
}
  
  .menu {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
  }
.menu-item{
  margin-left: 10px;
}
.menu-list{
  display: flex;
  align-items: center;
  list-style: none;
}


.center {
  margin-bottom: 20px;
}
.boton{
  position: absolute;
  bottom: 0;
  right: 0;
}
.boton-calcular {
  font-size: 35px; 
}